/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/components/chart/Info.vue?vue&type=style&index=0&id=5f5892ef&lang=scss&scoped=true& ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.part-info[data-v-5f5892ef] .cell {
  display: flex;
}
.part-info[data-v-5f5892ef] .cell span:first-child {
  width: 40px;
  margin-right: 10px;
}
.part-info[data-v-5f5892ef] .cell span:nth-child(2) {
  flex: 1;
}
.part-info[data-v-5f5892ef] .cell span:nth-child(2) .latest-new {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 13px;
  margin-top: 3px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/components/chart/chartInput.vue?vue&type=style&index=0&id=18a8aaed&lang=scss&scoped=true& ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.part-input .input-field-tool_emoji[data-v-18a8aaed] {
  width: 20px;
  height: 20px;
  background: url(../img/face.png);
  margin: 2px 7px;
  cursor: pointer;
}
.emoji-choose[data-v-18a8aaed] {
  position: absolute;
  bottom: 150px;
  width: 281px;
  background-color: #fff;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
}
.emoji-choose span[data-v-18a8aaed] {
  cursor: pointer;
}
.send-box[data-v-18a8aaed] {
  padding: 6px 10px;
  width: 700px;
  height: 90px;
  background-color: inherit;
  color: #252525;
  font-size: 13px;
  font-family: inherit;
  word-break: break-all;
  white-space: normal;
  overflow-y: auto;
  border: none;
  outline: none;
}
.send-box textarea[data-v-18a8aaed] {
  resize: none;
  width: 700px;
  height: 90px;
  border: none;
  outline: none;
  background: inherit;
  font-size: 16px;
  font-family: monospace;
}
.send-btn[data-v-18a8aaed] {
  float: right;
  position: relative;
  top: -14px;
  right: 10px;
}
.send-btn input[data-v-18a8aaed] {
  background-color: #fff;
  padding: 4px 13px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/views/Chart.vue?vue&type=style&index=0&id=9c9301d8&lang=scss& ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}
.page-chart {
  background-color: gainsboro;
  height: 100%;
  min-height: 600px;
  width: 100%;
  position: relative;
}
.page-chart .chart-content {
  width: 1000px;
  height: 580px;
  position: absolute;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: hidden;
}
.page-chart .chart-content .chart-top {
  background-color: burlywood;
  height: 60px;
}
.page-chart .chart-content .chart-top .chart-top-left {
  width: 280px;
  height: 60px;
  float: left;
  background-color: aqua;
}
.page-chart .chart-content .chart-top .chart-top-right {
  overflow: hidden;
  background-color: antiquewhite;
  height: 60px;
}
.page-chart .chart-content .chart-main {
  overflow: hidden;
}
.page-chart .chart-content .chart-main .chart-left {
  width: 280px;
  height: 520px;
  float: left;
  overflow: auto;
}
.page-chart .chart-content .chart-main .chart-left::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}
.page-chart .chart-content .chart-main .chart-left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.page-chart .chart-content .chart-main .chart-left::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.page-chart .chart-content .chart-main .chart-right {
  overflow: hidden;
  height: 520px;
  background-color: palevioletred;
}
.page-chart .chart-content .chart-main .chart-right .chart-log {
  position: relative;
  height: 370px;
  background-color: aliceblue;
}
.page-chart .chart-content .chart-main .chart-right .input-field {
  height: 150px;
  background-color: azure;
}
.page-chart .chart-content .chart-main .chart-right .input-field .input-field-toolbar .input-field-tool_emoji {
  width: 20px;
  height: 20px;
  background: url(../img/face.png);
  margin: 2px 7px;
  cursor: pointer;
}
.page-chart .chart-content .chart-main .chart-right .input-field .emoji-choose {
  position: absolute;
  bottom: 150px;
  width: 281px;
  background-color: #fff;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
}
.page-chart .chart-content .chart-main .chart-right .input-field .emoji-choose span {
  cursor: pointer;
}
.page-chart .chart-content .chart-main .chart-right .input-field .send-box {
  padding: 6px 10px;
  width: 700px;
  height: 90px;
  background-color: inherit;
  color: #252525;
  font-size: 13px;
  font-family: inherit;
  word-break: break-all;
  white-space: normal;
  overflow-y: auto;
  border: none;
  outline: none;
}
.page-chart .chart-content .chart-main .chart-right .input-field .send-box textarea {
  resize: none;
  width: 700px;
  height: 90px;
  border: none;
  outline: none;
  background: inherit;
  font-size: 16px;
  font-family: monospace;
}
.page-chart .chart-content .chart-main .chart-right .input-field .send-btn {
  float: right;
  position: relative;
  top: -14px;
  right: 10px;
}
.page-chart .chart-content .chart-main .chart-right .input-field .send-btn input {
  background-color: #fff;
  padding: 4px 13px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
